body{
    font-family: 'Bookman Old Style', Helvetica, sans-serif;
}

#main{
    background: #eaeaea;
    max-width: 500px;
    margin: auto;
    padding: 1em;
    border-radius: 5px;
}

#pic{
    background: #fff;
    margin: 2vh;
    padding: 2vh;
}

#portrait{
    display: block;
    margin: auto;
    max-width: 100%;
    z-index: -1;
}

#logoplace{
    float: right;
    display: flex;
    width: 100%;
    justify-content: center;
}

#logo{
    width: 75px;
    margin: -30px 0 0 0;
    z-index: 1;
    position: relative;
}

#bio{
    text-align: center;
    color: #414141;
}

h1{
    font-size: 28pt;
    font-family: 'Forte', sans-serif;
    margin: 1em 0 -.5em 0;
}

h2{
    font-size: 14pt;
}

a {
    color: #414141; 
}

#info{
    text-align: left;
    margin-left: 17%;
    display:grid;
    grid-template-rows: 40px 40px 40px;
    grid-template-columns: 40px 150px;
    grid-column-gap: .5em;
    align-items: center;
}

.icon{
    width: 40px;
    height: auto;
}

#gibberish {
    font-style: italic;
    text-align: justify;
    color: #646464;
    padding: 0 2em 0 2em;
}

.said{
    color: #414141;
    text-align: right;
    margin-top: -.75em;
}

.divider{
    background: white;
    height: 20px;
    margin: .5em 0 .5em 0;
    border-radius: 5px;
}